
.visual {
  border-style: dashed;
  margin-right: 1.5em;
  flex-grow: 1;

  padding: 1em;
}

/* canvas {
  width: 300px;
  height: 300px;
  border-style: dashed;
  margin-right: 1.5em;
  flex-grow: 1;
  padding: 1em;
  background-color: white;
} */

.editform {
  border-style: dashed;
  margin-left: 1.5;
  flex-grow: 1;

  padding: 1em;
}
