* {box-sizing: border-box;}

html {
  height: 100%;
  background-image: url("res/holz.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  font-family: Verdana;
  font-size: 1.2em;
  color: lightgray;
  padding-bottom: 0;

}

body {
  height: 90%;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 3em;
  padding-bottom: 0em;

  display: flex;
  flex-direction: column;
}

h1 {
  margin-left: 0;
  margin-bottom: .5em;
}

h2 {
  margin-top: 0;
}

header {
  background-color: rgb(0, 0, 0, .5);
  padding-top: 1em;
  padding-left: 2em;
  padding-bottom: 1em;
}

main {
  background-color:  rgb(0, 0, 0, .5);
  height: 80%;
  margin-top: 2em;

  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;

  display: inline-flex;
  flex-direction: row;

  flex: 1 0 auto;
}

footer {
  background-color:  rgb(0, 0, 0, .5);

  margin-top: 2em;

  padding-top: 1em;
  padding-left: 2em;
  padding-bottom: 1em;

  flex-shrink: 0;
}
